[submodule "modules/vojo_cdh_juarez"]
	path = modules/vojo_cdh_juarez
	url = git://gitorious.org/vozmob/vojo_cdh_juarez.git
[submodule "modules/vojo_cdh_monterrey"]
	path = modules/vojo_cdh_monterrey
	url = git://gitorious.org/vozmob/vojo_cdh_monterrey.git
[submodule "themes/cdh_monterrey"]
	path = themes/cdh_monterrey
	url = git://gitorious.org/vozmob/cdh_monterrey_theme.git
[submodule "themes/cdh_juarez"]
	path = themes/cdh_juarez
	url = git://gitorious.org/vozmob/cdh_juarez_theme.git
[submodule "modules/vojo_twentyone_cambridge"]
	path = modules/vojo_twentyone_cambridge
	url = git://gitorious.org/vozmob/vojo_twentyone_cambridge.git
[submodule "themes/incourage"]
	path = themes/incourage
	url = git://github.com/c4fcm/Incourage-Vojo-Theme.git
